<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>Login form</title>
</head>
<body>
<div class="container">
    <div id="box_frame">
        <label for="user_login">User login</label>
        <input type="text" placeholder="Enter login" name="user_login" required>

        <label for="password">Password</label>
        <input type="text" placeholder="Enter password" name="password" required>
    </div>
    <button type="submit">Login</button>
</div>
</body>
</html>